{% extends 'base.html' %}

{% block title %}STATUS{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-10 offset-md-1 bg-light p-5 border rounded shadow">
        <header>
            <h4 class="mb-0 text-uppercase">Player Overview & Status</h4>
            <hr class="my-5">
        </header>

        <section class="row">
            <div class="col">
                <h5 class="mb-0 display-6">Welcome, {{ player.username }}!</h5>
                <h4 class="mb-0">JOB: <span id="job" class="text-primary fw-bold">{{ player.get_job_display }}</span>
                </h4>
                <h4 class="mb-3">MODE: <span id="mode" class="text-primary fw-bold">{{ player.get_mode_display }}</span>
                </h4>

                <div class="d-flex align-items-center gap-5">
                    <h5 class="text-center"><i class="fi fi-rr-pharmacy"></i><br>HP: <span
                            class="fw-bold text-success">{{ player.hp }}</span></h5>
                    <h5 class="text-center"><i class="fi fi-rr-mortar-pestle"></i><br>MP: <span
                            class="fw-bold text-success">{{ player.mp }}</span></h5>
                    <h5 class="text-center"><i class="fi fi-rr-star"></i><br>XP:
                        <span class="fw-bold text-success">{{ player.xp }}</span></h5>
                    <h5 class="text-center"><i class="fi fi-rr-battery-bolt"></i><br>FATIGUE: <span
                            class="fw-bold text-success">{{ player.fatigue }}</span></h5>
                    <h5 class="text-center"><i class="fi fi-rr-coins"></i><br>GOLD: <span
                            class="fw-bold text-success">{{ player.gold }}</span></h5>
                </div>
            </div>

            <aside class="col">
                <h1 class="mb-0 display-1 text-center fw-bold text-success">{{ player.level }}</h1>
                <h5 class="mb-0 text-center text-uppercase">LEVEL</h5>
            </aside>
        </section>

        <hr class="my-5">

        <article class="d-flex align-items-center gap-5 justify-content-center">
            <h1 class="text-center"><i class="fi fi-rr-gym"></i><br>STR:
                <span class="fw-bold text-success">{{ player.str_v }}</span>
            </h1>
            <h1 class="text-center"><i class="fi fi-rr-user-time"></i><br>AGI:
                <span class="fw-bold text-success">{{ player.agi_v }}</span>
            </h1>
            <h1 class="text-center"><i class="fi fi-rr-binoculars"></i><br>PER:
                <span class="fw-bold text-success">{{ player.per_v }}</span>
            </h1>
            <h1 class="text-center"><i class="fi fi-rr-heart-rate"></i><br>VIT:
                <span class="fw-bold text-success">{{ player.vit_v }}</span>
            </h1>
            <h1 class="text-center"><i class="fi fi-rr-brain"></i><br>INT:
                <span class="fw-bold text-success">{{ player.int_v }}</span>
            </h1>
        </article>
    </div>
</section>
{% endblock %}